* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-size: 4vmin;
    border-width: 0;
}

body {
    background-color: #005255;
    background-image: url('../img/menu/background/background.jpg');
}

img{
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#menu *{
    position: absolute;
}

#main-bar {
    top: 0;
    left: 0;
    width: 33.3333333%;
    height: 100%;
    border-radius: 12%;
}

#user-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 6.574074%;
    border-radius: 0 0.5em 0 0;
    background-color: #EA6465;
}

#novel-name {
    left: 0;
    top: 6.6666667%;
    width: 100%;
    height: 9.9074074%;
    border-radius: 0;
    background-color: #EA6465;
}

#info-bar {
    left: 0;
    top: 16.6666667%;
    width: 100%;
    height: 66.48148148%;
    background-color: #FFD670;
}

#start {
    left: 0;
    top: 83.3333333%;
    width: 100%;
    height: 16.6666667%;
    border-radius: 0 0 0.5em 0;
    background-color: #ABC4FF;
}

#start-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5em 0;
    background-color: #ABC4FF;
}

