@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-size: 4vmin;
    border-width: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    background-color: #005255;
    background-image: url('../img/menu/background/background.jpg');
}

img{
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    
}

#menu *{
    position: absolute;
}

#main-bar {
    top: 0;
    left: 0;
    width: 33.3333333%;
    height: 100%;
}

#user-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.574074%;
    border-radius: 0 0.5em 0 0;
    background-color: #EA6465;
}

#balance-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14.084507%;
    left: 63.75%;
    width: 35%;
    height: 73.2394366%;
    border-radius: 1em;
    background-color: #A18594;
}

#top-up {
    left: 2.2321429%;
    width: 18.75%;
    height: auto;
}

#coin {
    left: 77.6785714%;
    width: 21.4285714%;
    height: auto;
}

#balance {
    color: #FFFEFB;
    font-size: 2.96vmin;
    font-family: inter;
}

#user {
    left: 1.69014085%;
    width: 60%;
    height: 67.6056338%;
    background-color: #00000000;
    
}

#avatar {
    top: 0;
    left: 0;
    height: 100%;
    width: 12.5%;
    background-size: cover;
    background-position: center;
    border-radius: 100vmin;
    background-color: #00000000;
}

#nickname {
    white-space: nowrap;
    font-family: inter;
    top: 9.375%;
    left: 17.1875%;
    font-size: 2.96vh;
    background-color: #00000000;
    color: #FFFEFB;
}

#novel-name {
    left: 0;
    top: 6.6666667%;
    width: 100%;
    height: 9.9074074%;
    border-radius: 0;
    background-color: #EA6465;
}

#info-bar {
    left: 0;
    top: 16.6666667%;
    width: 100%;
    height: 66.48148148%;
    background-color: #FFD670;
}

#guidy {
    top: 5%;
    height: 100%;
    width: auto;
}

#start {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16.6666667%;
    border-radius: 0 0 0.5em 0;
    background-color: #ABC4FF;
}

#start-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5em 0;
    font-size: 10vmin;
    color: #394053;
    background-color: #ABC4FF;
}

#select {
    top: 0;
    right: 0;
    width: 66.5625%;
    height: 100%;
}

#options {
    top: 0;
    right: 0;
    width: 100%;
    height: 6.574074%;
    border-radius: 0.5em 0 0 0;
    background-color: #FFFEFB33;
}

#novel-filter {
    top: 6.6666667%;
    right: 0;
    width: 100%;
    height: 9.9074074%;
    background-color: #FFFEFB33;
}

#novel-select {
    top: 16.6666667%;
    right: 0;
    width: 100%;
    height: 66.48148148%;
    background-color: #FFFEFB33;
}

#novel-options {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 16.6666667%;
    border-radius: 0 0 0 0.5em;
    background-color: #FFFEFB33;
}