@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-size: 4vmin;
    border-width: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: inter;
    font-weight: 400;
}

*::-webkit-scrollbar {
    width: 4px; /* Ширина скроллбара */
    border-radius: 5em;
}

/* путь, по которому движется ползунок */
*::-webkit-scrollbar-track {
    background: #1f22258a; /* Цвет фона */
    border-radius: 5em;
}

/* Handle - сам ползунок */
*::-webkit-scrollbar-thumb {
    background: #565f66; /* Цвет ползунка */
    border-radius: 5em; /* Скругление углов ползунка */
}

/* Handle при наведении */
*::-webkit-scrollbar-thumb:hover {
    background: #626c74; /* Цвет ползунка при наведении */
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

body {
    background-color: #363a3f;
}

img{
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

    background-size: 100%;
    background-image: url('../img/menu/background/repeated.jpg');
    background-position: 0 0;
    background-repeat: repeat;
}

#menu *{
    position: absolute;
}

#novel-overview {
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    
}

.left-panel {
    background-color: #1f22258a;
    backdrop-filter: blur(5px);
}

#author-info {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.6666667%;
    border-radius: 0 0.5em 0 0;
}

#author {
    left: 1.69014085%;
    width: 60%;
    height: 67.6056338%;
    background-color: #00000000;
    
}

#author-avatar {
    top: 0;
    left: 0;
    height: 100%;
    width: 12.5%;
    background-size: cover;
    background-position: center;
    border-radius: 100vmin;
    background-color: #00000000;
}

#authornickname {
    white-space: nowrap;
    top: 9.375%;
    left: 17.1875%;
    font-size: 2.96vh;
    background-color: #00000000;
    color: #FFFEFB;
    
}

.novel-name-block {
    left: 0;
    top: 6.6666667%;
    width: 100%;
    height: 10%;
    border-radius: 0;
}

#novel-name {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white
}

#info-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 16.6666667%;
    width: 100%;
    height: 66.6666666%;
}

#novel-progress {
    top: 3.75%;
    background-color: #00000000;
    color: #ebebeb;
    font-size: 3.5vmin;
    transition: font-size 0.3s ease;
    
}

.info-buttons {
    background-color: #00000000;
    color: #ebebeb;
    font-size: 3.5vmin;
    transition: font-size 0.3s ease;
}

.info-buttons:hover {
    font-size: 4vmin;
}

#about-author {
    top: 18.75%;
}

#b2 {
    top: 31.25%; 
}

#b3 {
    top: 43.75%; 
}

#b4 {
    top: 56.25%; 
}

#b5 {
    top: 68.75%; 
}

#statistic {
    top: 82.2222222%;
    width: 63.3891213%;
    height: 13.0555555%;
    overflow: visible;
}

#statistic div {
    overflow: visible;
}

.statistic-info {
    display: flex;
    align-items: center; /* Центрирует кнопки по горизонтали */
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.statistic-info p {
    color: #FFFEFB;
    font-size: 3vmin;
    bottom: 0;
}


#likes-bar {
    top: 0;
    left: 0;
    width: 23.7623762%;
    height: 100%;
}

#likes {
    top: 0;
    height: 54%;
    width: auto;
}

#views-bar {
    top: 0;
    right: 0;
    width: 23.7623762%;
    height: 100%;
}

#views {
    top: 6.3593005%;
    /* width: 93.5%;
    height: auto; */
    height: 40.4472226%;
    width: auto;
}


#start {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16.6666667%;
    border-radius: 0 0 0.5em 0;
}

#start-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5em 0;
    font-size: 7vmin;
    color: #ebebeb;
    background-color: #00000000;
}




#main {
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
}

.main-blocks {
    width: 100%;
    right: 0;
}

.main-static-blocks {
    background-color: #1f22258a;
    z-index: 1;
    backdrop-filter: blur(5px);
}

#options {
    display: flex;
    align-items: center;
    top: 0;
    height: 6.6666667%;
    border-radius: 0.5em 0 0 0.5em;
    
}

#profile-block {
    right: 0.4%;
    /* width: 15%; */
    height: 80%;
    border-radius: 1em;
    background-color: #383d49;
}

#user-info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #00000000;
}

#user-avatar {
    left: 2%;
    height: 90%;
    background-size: cover;
    background-position: center;
    border-radius: 100vmin;
    background-color: #00000000;
}

#user-nickname {
    font-size: 3vmin;
    color: #FFFEFB;
}

#user-balance {
    top: 0;
    height: 100%;
    color: #C5C5C5;
    background-color: #00000000;
    font-size: 3vmin;
}

#novel-select {
    z-index: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.novel-preview {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* соотношение размера обложки 17/24 */
    width: 21.25%;
    background-size: contain;
    background-color: #00000000;
    overflow: visible;
}

.preview-image-block {
    width: 90.9%;
    /* height from js */
    background-color: #00000000;
    overflow: visible;
}

.preview-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}



.preview-image-block:hover .preview-image {
    transform: scale(1.1);
}

.shadow {
    left: 50%;
    top: 14%;
    width: 56%;
    height: 90%;
    transition: box-shadow 0.3s ease;
    transform: translateX(-50%);
}

.preview-image-block:hover .shadow {
    box-shadow: 0 0 3vh 8vh rgba(0, 0, 0, 0.4);;
    
}

.novel-preview-name {
    width: 90.1%;
    /* bottom: 0; */
    font-size: 2.5vmin;
    color: #f5f5f5;
    transition: all 0.3s ease;
}

.preview-image-block:hover ~ .novel-preview-name {
    transform: scale(1.1);
    color: #ffffff
}

