* {
   margin: 0px;
   padding: 0px;
   user-select: none;
}
body {
    background-color: #00383a;
    font-size: 16pt;
}
img{
    pointer-events: none;
}

#loading-window {
    z-index: 2147483647;
    background-color: #8fbc8f;
    color: red;
    font-size: 36pt;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
#loading-window img {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    top: 25%;
    left: 25%;
}


#oc_arrow {
    border-color: red;
    position: absolute;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    
    
    left: 0;
}
.left-arrow {
    transform: scaleX(-1);
}


#panel {
    z-index: 9;
    position: absolute;
    top: 0;
    left: -20%;
    width: 20%;
    height: 100%;
    background-color: #005255;
    
    transition: left 0.3s ease-in-out;
}
#panel_button {
    z-index: 9;
    position: absolute;
    left: 0%;
    width: 2.76vmax;
    height: 5vmax;
    transition: left 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    margin: 0px;
    margin-left: 1%;
    background-repeat: no-repeat;
    background-color: #00000000;
    background-size: cover;
    border: none;
}

#options {
    margin-left: 10%;
    margin-top: 10%;
    width: 30%;
    height: auto;
    background-color: #00000000;
    border-radius: 100%;
    border: none;
    transition: transform 0.3s ease;
}
#options:hover {
    background-color: #ffffff11;
    transform: rotateZ(-120deg);
    transform-origin: center center;
}


#content {
    max-width: 100%;
}

#content h1 {
    font-size: 2em;
}

